#a {
    background-color: blue;
    /* width: 480px;
    height: 75px; */
    line-height: 75px;
    grid-area: 1/1/2/5;
}

#b {
    background-color: aqua;
    /* width: 480px;
    height: 150px; */
    line-height: 150px;
    grid-area: 2/1/4/5;
}

#c {
    background-color: brown;
    /* width: 480px;
    height: 125px; */
    line-height: 125px;
    grid-area: 4/1/6/5;
}

#d {
    background-color: blueviolet;
    /* width: 480px;
    height: 125px; */
    line-height: 125px;
    grid-area: 6/1/8/5;
}

#e {
    background-color: crimson;
    /* width: 240px;
    height: 250px; */
    line-height: 250px;
    grid-area: 8/1/12/3;
}

#f {
    background-color: chocolate;
    /* width: 240px;
    height: 250px; */
    line-height: 250px;
    grid-area: 8/3/12/5;
}

#g {
    background-color: darkgoldenrod;
    /* width: 240px;
    height: 250px; */
    line-height: 250px;
    grid-area: 12/1/18/3;
}

#h {
    background-color: yellow;
    /* width: 240px;
    height: 250px; */
    line-height: 250px;
    grid-area: 12/3/18/5;
}

#i {
    /* width: 480px;
    height: 80px; */
    line-height: 80px;
    background-color: dodgerblue;
    /* bottom: 0; */
    grid-area: 18/1/19/5;
}

@media (min-width:768px) {
    body {
        width: 960px;
        background-color: black;
    }
    #a {
        background-color: blue;
        width: 960px;
        height: 100px;
        line-height: 100px;
    }
    #b {
        background-color: aqua;
        width: 200px;
        height: 600px;
        line-height: 600px;
        float: left;
    }
    #c {
        background-color: brown;
        width: 380px;
        height: 200px;
        line-height: 200px;
        float: left;
    }
    #d {
        background-color: blueviolet;
        width: 380px;
        height: 200px;
        line-height: 200px;
        float: left;
    }
    #e {
        background-color: crimson;
        width: 190px;
        float: left;
    }
    #f {
        background-color: chocolate;
        width: 190px;
        float: left;
    }
    #g {
        background-color: darkgoldenrod;
        width: 190px;
        float: left;
    }
    #h {
        background-color: yellow;
        width: 190px;
        float: left;
    }
    #i {
        width: 760px;
        height: 150px;
        line-height: 150px;
        background-color: dodgerblue;
        bottom: 0;
        float: left;
    }
}