#a {
    background-color: blue;
    width: 480px;
    height: 75px;
    line-height: 75px;
}

#b {
    background-color: aqua;
    width: 480px;
    height: 150px;
    line-height: 150px;
}

#c {
    background-color: brown;
    width: 480px;
    height: 125px;
    line-height: 125px;
}

#c {
    background-color: brown;
    width: 480px;
    height: 125px;
    line-height: 125px;
}

#d {
    background-color: blueviolet;
    width: 480px;
    height: 125px;
    line-height: 125px;
}

#e {
    background-color: crimson;
    width: 240px;
    height: 250px;
    line-height: 250px;
    float: left;
}

#f {
    background-color: chocolate;
    width: 240px;
    height: 250px;
    line-height: 250px;
    float: right;
}

#g {
    background-color: darkgoldenrod;
    width: 240px;
    height: 250px;
    line-height: 250px;
    float: left;
}

#h {
    background-color: darkorchid;
    width: 240px;
    height: 250px;
    line-height: 250px;
    float: right;
}

#i {
    width: 480px;
    height: 80px;
    line-height: 80px;
    background-color: dodgerblue;
    bottom: 0;
    clear: right;
}

@media (min-width: 1000px) {
    body {
        background-color: black;
    }
}